{% extends "base.html" %}

{% block content %}
    <script>
        function update_label(timeout,id){
            document.querySelector(id).value = timeout;
        }
    </script>
    <h1>Settings</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.slide_timeout.label }}<br>
            {{ form.slide_timeout(min=0, max=120,step=5, oninput="update_label(value,'#timeout_display')", value=form.slide_timeout.data) }}
            <output id="timeout_display" for="slide_timeout">{{ form.slide_timeout.data }}</output><span> s</span><br>
        </p>
        <p>
            {{ form.transition.label }}<br>
            {{ form.transition() }}<br>
        </p>
        <p>
            {{ form.background_color.label }}<br>
            {{ form.background_color() }}<br>
            
        </p>
        <p>
            {{ form.background_image.label }}<br>
            {{ form.background_image() }}<br>
        </p>
        <p>
            {{ form.title_size.label }}<br>
            {{ form.title_size(min=8, max=32, oninput="update_label(value,'#title_size_display')", value=form.title_size.data) }}
            <output id="title_size_display" for="title_size">{{ form.title_size.data }}</output><span> pt</span><br>
        </p>
        <p>
            {{ form.description_size.label }}<br>
            {{ form.description_size(min=8, max=18, oninput="update_label(value,'#description_size_display')", value=form.description_size.data) }}
            <output id="description_size_display" for="description_size">{{ form.description_size.data }}</output><span> pt</span><br>
        </p>
        <p>{{ form.fullscreen() }} {{ form.fullscreen.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}